<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="js/vue.min.js"></script>
    <script defer src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>Kanban App</title>
</head>
<body>
<div id="app">
    <div class="app-container">
        <div class="column" v-for="(columnNotes, columnName) in columns" :key="columnName">
            <div class="column-inner">
                <h2>{{ columnTitles[columnName] }}</h2>

                <div v-for="note in columnNotes" :key="note.id" class="note">
                    <h3 class="note-title">{{ note.title }}</h3>
                    <p>{{ note.description }}</p>
                    <p>Создано: {{ note.createdDate }}</p>
                    <p v-if="note.deadline">Дэдлайн: {{ note.deadline }}</p>
                    <p v-if="note.lastEdited">Последнее редактирование: {{ note.lastEdited }}</p>
                    <p v-if="note.isLate" style="color: red;">Просрочено!</p>
                    <p v-if="note.returnReason"><strong>Причина возврата:</strong> {{ note.returnReason }}</p>
                    <button @click="editNote(note)">Редактировать</button>
                    <button @click="deleteNote(note.id)">Удалить</button>

                    <button v-if="columnName === 'planned'" @click="moveNote(note.id, 'planned', 'inProgress')">Переместить в 'В работе'</button>
                    <button v-if="columnName === 'inProgress'" @click="moveNote(note.id, 'inProgress', 'testing')">Переместить в 'Тестирование'</button>
                    <button v-if="columnName === 'testing'" @click="moveNote(note.id, 'testing', 'done')">Переместить в 'Выполненные'</button>
                    <button v-if="columnName === 'done'" @click="moveNoteBackToInProgress(note.id)">Возврат в 'В работе'</button>
                </div>

                <div class="form-container" v-if="columnName === 'planned'">
                    <h3>Добавить новую задачу</h3>
                    <input v-model="newNote.title" placeholder="Заголовок задачи">
                    <textarea v-model="newNote.description" placeholder="Описание задачи"></textarea>
                    <input type="date" v-model="newNote.deadline" placeholder="Дэдлайн">
                    <button @click="addNote('planned')">Создать задачу</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
